.navbar-collapse{
    justify-content: space-around;
}

.navbar-nav li{
    padding-left: 50px;
    font-size: 30px;
}


#carouselExampleSlidesOnly img{
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    height: 400px;
}

.carousel-control-next{
    right: 200px;
}

.carousel-control-prev{
    left: 200px;
}

.font-footer{
    font-size: large;
}

.row{
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card{
    margin-bottom: 50px;
    border-color: black;
}

.card-img-top{
    padding-top: 20px;
}