header {
    nav {
        .navbar-collapse {
            justify-content: space-around;
        }

        .navbar-nav {
            li {
                padding-left: 50px;
                font-size: 30px;
            }
        }
    }
}